[![image](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/master/labs/lab_03.ipynb)
[![image](https://binder.pangeo.io/badge_logo.svg)](https://gishub.org/geog312-pangeo)

**Cameron Corsino**

In [ ]:
from datetime import datetime

now = datetime.now()
print(f"Submitted time: {now}")

Submitted time: 2023-09-23 13:26:40.568366

## Question 1
**Pizzas:** Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

Modify your for loop to print a sentence using the name of the pizza instead of printing just the name of the pizza. For each pizza you should have one line of output containing a simple statement like *I like pepperoni pizza.*

In [ ]:
Pizza_type = ['Cheese Pizza','Hamburger Pizza','four-cheese pizza']
for x in Pizza_type:
  print(x)
  pizza = f"{Pizza_type}"
  message = f'I love {x}'
  print(message)

Cheese Pizza
I love Cheese Pizza
Hamburger Pizza
I love Hamburger Pizza
four-cheese pizza
I love four-cheese pizza

Add a line at the end of your program, outside the for loop, that states how much you like pizza. The output should consist of three or more lines about the kinds of pizza you like and then an additional sentence, such as *I really love pizza!*

In [ ]:
  message_1 = f'{Pizza_type[2]} is my favorite food.'
  print(message_1)

four-cheese pizza is my favorite food.

## Question 2
**Animals:** Think of at least three different animals that have a common characteristic. Store the names of these animals in a list, and then use a for loop to print out the name of each animal.

Modify your program to print a statement about each animal, such as *A dog would make a great pet.*

In [ ]:
Animal = ['Hawk','Eagle','Cardinal']
for x in Animal:
    print(x)
    bird = f"{Animal}"

message = f'A {Animal[0]} is a vicious predator'
print(message)
message_1 = f'I saw an {Animal[1]} at the zoo.'
message_2 = f'A {Animal[2]} was on my roof.'
print(message_1)
print(message_2)

Hawk
Eagle
Cardinal
A Hawk is a vicious predator
I saw an Eagle at the zoo.
A Cardinal was on my roof.

Add a line at the end of your program stating what these animals have in common. You could print a sentence such as *Any of these animals would make a great pet!*

In [ ]:
message = f'A {Animal[0]}, {Animal[1]}, and {Animal[2]} are all birds.'
print(message)

A Hawk, Eagle, and Cardinal are all birds.

## Question 3
**Counting to Twenty:** Use a for loop to print the numbers from 1 to 20, inclusive.

In [1]:
for value in range(1,21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## Question 4
**One Hundred:** Make a list of the numbers from one to one hundred, and then use a for loop to print the numbers.

In [9]:
for value in range (1,101):
 print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Question 5
**Summing a Hundred:** Make a list of the numbers from one to one million, and then use `min()` and `max()` to make sure your list actually starts at one and ends at one hundred. Also, use the sum() function to see how quickly Python can add a hundred numbers.

In [27]:
numbers = list(range(1,101))
print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
100
5050

## Question 6
**Odd Numbers:** Use the third argument of the `range()` function to make a list of the odd numbers from 1 to 20. Use a `for` loop to print each number.

In [43]:
for value in range(1,20,2):
  print(value)

1
3
5
7
9
11
13
15
17
19

## Question 7
**Threes:** Make a list of the multiples of 3 from 3 to 30. Use a `for` loop to print the numbers in your list.

In [24]:
threes = list(range(3,31,3))
for number in threes:
  print(number)

3
6
9
12
15
18
21
24
27
30

## Question 8
**Cubes:** A number raised to the third power is called a cube. For example, the cube of 2 is written as 2 ** 3 in Python. Make a list of the first 10 cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.

In [23]:
cubes = []
for number in range(1,11):
  cube = number**3
  cubes.append(cube)
for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Question 9
**Cube Comprehension:** Use a list comprehension to generate a list of the first 10 cubes.

In [12]:
cubes = [number** 3 for number in range(1,11)]
for cube in cubes:
  print(cube)

1
8
27
64
125
216
343
512
729
1000

## Question 10
**Slices:** Using one of the programs you wrote in this lab, add several lines to the end of the program that do the following:

Print the message *The first three items in the list are:*. Then use a slice to print the first three items from that program’s list.

In [55]:
basic_food = ('steak tips','dinner rolls','grilled chicken','spaghetti & meatballs','meatloaf')
message = 'The first three items in the list are:'
print(message)
print(basic_food[0:3])

The first three items in the list are:
('steak tips', 'dinner rolls', 'grilled chicken')

Print the message *Three items from the middle of the list are:*. Use a slice to print three items from the middle of the list.

In [57]:
basic_food = ('steak tips','dinner rolls','grilled chicken','spaghetti & meatballs','meatloaf')
message = 'The middle three items in the list are:'
print(message)
print(basic_food[1:4])

The middle three items in the list are:
('dinner rolls', 'grilled chicken', 'spaghetti & meatballs')

Print the message *The last three items in the list are:*. Use a slice to print the last three items in the list.

In [59]:
basic_food = ('steak tips','dinner rolls','grilled chicken','spaghetti & meatballs','meatloaf')
message = 'The last three items in the list are:'
print(message)
print(basic_food[2:5])

The last three items in the list are:
('grilled chicken', 'spaghetti & meatballs', 'meatloaf')

## Question 11
**My Pizzas, Your Pizzas:** Start with your program from Question 1. Make a copy of the list of pizzas, and call it friend_pizzas. Then, do the following:

Add a new pizza to the original list.

In [ ]:
pizza_types = ['Cheese','Hamburger','four-cheese','Margherita']

Add a different pizza to the list `friend_pizzas`.

In [ ]:
friend_pizzas = ['Cheese','Hamburger','four-cheese','Margherita','Pepperoni']

Prove that you have two separate lists. Print the message *My favorite pizzas are:*, and then use a for loop to print the first list. Print the message *My friend’s favorite pizzas are:*, and then use a for loop to print the second list. Make sure each new pizza is stored in the appropriate list.

In [33]:
pizza_types = ['Cheese','Hamburger','four-cheese','Margherita']
friend_pizzas = ['Cheese','Hamburger','four-cheese','Pepperoni']
print("my favorite pizzas are:")
for pizza in pizza_types:
  print("-"+pizza)

print("\nMy friend's favorite pizzas are:")
for pizza in friend_pizzas:
  print("-"+pizza)

my favorite pizzas are:
-Cheese
-Hamburger
-four-cheese
-Margherita

My friend's favorite pizzas are:
-Cheese
-Hamburger
-four-cheese
-Pepperoni

## Question 12
**Buffet:** A buffet-style restaurant offers only five basic foods. Think of five simple foods, and store them in a tuple.

Use a for loop to print each food the restaurant offers.

In [38]:
basic_food = ('steak tips','dinner rolls','grilled chicken','spaghetti & meatballs','meatloaf')
for food in basic_food:
  print(food)

steak tips
dinner rolls
grilled chicken
spaghetti & meatballs
meatloaf

Try to modify one of the items, and make sure that Python rejects the change.

In [39]:
basic_food = ('steak tips','dinner rolls','grilled chicken','spaghetti & meatballs','chicken parm')
for food in basic_food:
  print(food)

steak tips
dinner rolls
grilled chicken
spaghetti & meatballs
chicken parm

The restaurant changes its menu, replacing two of the items with different foods. Add a line that rewrites the tuple, and then use a for loop to print each of the items on the revised menu.

In [40]:
basic_food = ('steak tips','dinner rolls','grilled chicken','spaghetti & meatballs','meatloaf')
basic_food_new = ('steak tips','dinner rolls','grilled chicken','shrimp','chicken parm')
for food in basic_food_new:
  print(food)

steak tips
dinner rolls
grilled chicken
shrimp
chicken parm